*body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'joan';
    box-sizing: border-box;
}
.container{
    border-radius: 10px;
    background-color: rgb(29, 41, 52);
    border: 5px solid  rgb(17, 17, 19);
    border-radius: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 900px; /* set a max width for the container */
    margin: 20px auto; /* center the container horizontally */
    min-height: 800px;
    background-repeat: no-repeat;

}
.title{
    background-color: rgb(27, 20, 24);
    border-bottom: 4px solid rgb(210, 213, 230);
    border-top: 4px solid rgb(210, 213, 230);
    font-size:3rem;
    color: aliceblue;
    font-family: 'serif';
    text-align: center;
    width: 100%;
    margin:20px auto;
  
}
.menu{
    display: flex;
    flex-flow: row;
    margin: 1rem;
    justify-content: space-between;
    width: 100%; /* make sure the menu takes up the full width of the container */
    max-width: 600px;
}


.dishes h3{
    font-family: 'serif';
    font-weight: bold;
    font-size: 2rem;
    padding: 0px 60px;
    color: aliceblue;
}
.dishes h2{
    font-family: 'serif';
    font-weight: bold;
    font-size: 2.3rem;
    padding: 0px 70px;
    color:aliceblue;
}
.dishes ol{
    padding: 0;
    text-align: center;
}
.dishes ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

.dishes ol li{
    color: rgb(139, 139, 172);
    font-weight: 700;
    font-size: 2rem;
    font-family:'Roboto';
    padding-bottom: 1.2rem;
}
.dishes ul li{
    color: rgb(139, 139, 172);
    font-weight: 700;
    font-size: 2rem;
    font-family:'Roboto';
    padding-bottom: 1.2rem;
}
.pricesList li{
    color: red !important;
}
.menuForm{
   text-align: center;
   margin: 1rem;
   width: 70%;
   font-size: 30px;
}
.totalPrice{
    font-size: 25px;
    width: 200px;
    border-radius: 2px;
}
.menuForm input{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
}

  .btn {
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-weight: bold;
    border-radius: 2px;
    border: none;

  }
  .save-btn{
    margin:5px auto;
    padding: 10px 34px;
    border-radius: 5px;
  }
  
  .click {
    margin:0px 40px;
    padding: 10px 34px;
  }
 
  button{
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: black;
    font-size: 18px;
    color: #fff;
}

